/* app css stylesheet */

body {
  font-family: 'Courier', serif;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.header, .main, .aside, .footer {
  flex: 1 100%;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
  body { font-size: x-large; }
}

@media all and (min-width: 800px) {
  body { font-size: xx-large; }
  .aside-1, .aside-2 { width: 20%;}
  .main { flex: 2 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

.column {
  border-radius: inherit;
  padding-top: 2%;
}

.column img {
    width: 50%;
    border-radius: inherit;
}

.column-1 {
    width: 35%;
    text-align: center;
}

.column-2 {
    width:50%;
}

ul {
    list-style-type: none;
    text-align: left;
    -webkit-padding-start: 10px;
}

.userCard {
    border-radius: 16px;
    overflow: hidden;
    background-color: green;
}

.column-wrapper {
    display: flex;
    flex-flow: nowrap;
    background-color: lightgrey;
    margin: 2%;
}

.header {
  min-height: 50px;
}

section#search_box {
    padding-top: 15px;
    text-align: center;
    vertical-align: baseline;
}

section#search_box input {
    width: 48%;
    text-align: right;
}

.aside-1, .aside-2 { 
  min-width: 15px;
}