<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Maker's Students</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body ng-controller='ListController as listC' class="flexbox--row-wrap medium-screen__font--x-large large-screen__font--xx-large">

  <header class="text--centered">
    <h2>Makers Academy</h2>
    <h1>GitHub Profile Viewer</h1>
    <form class='site-search'>
      <label> Search:</label>
      <input class="site-search__field text--right medium-screen__font--medium medium-screen__width--small large-screen__font--large" placeholder='Name, username, location...' ng-model='query' autofocus></input>
    </form>

  </header>
  <main class="flexbox__child--full-width flexbox__child--order-two large-screen__margin--medium x-large-screen__margin--quarter large-screen__flex--two">
    <section class="spacer"><section>
    <section ng-show="query" id='user-list' ng-repeat='user in listC.userData | filter:query ' class="user-card flexbox--nowrap">
            <section class="flexbox__child--full-width user-card__column--one-third text--centered">
              <img class="user-card__img" id={{user.data.id}} src={{user.data.avatar_url}}>
              <h3>{{user.data.name}}</h3>
            </section>
            <section class="flexbox__child--full-width user-card__column--half">
          <ul>
            <li>
              <ul>
                <li>Username: <a href={{user.data.html_url}}>{{user.data.login}}</a></li>
                <li>Location: {{user.data.location}}</li>
                <li>Following: {{user.data.following}}</li>
                <li>Followers: {{user.data.followers}}</li>
                <li>Repositories: <span class="repoNumber">{{user.data.public_repos}}</span></li>
                <li></li>
              </ul>
            </li>
          </ul>
          </section>
    </section>
  </main>
 <footer class="flexbox__child--full-width flexbox__child--order-four text--centered"><h6>Kait, Marco, Barry & Russell - Makers Academy Ronin January 2016</h6></footer>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
 <script src="bower_components/angular/angular.js"></script>
 <script src="bower_components/angular-mocks/angular-mocks.js"></script>
 <script src="bower_components/angular-route/angular-route.js"></script>
 <script src="app.js"></script>
 <script src="components/version/version.js"></script>
 <script src="components/version/version-directive.js"></script>
 <script src="components/version/interpolate-filter.js"></script>
 <script src='controllers.js'></script>
 <script src='factories.js'></script>
 <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</body>
</html>
